# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo

# Database
*.db
*.sqlite
*.sqlite3

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Temp QR files
upi_qr_*.png
